<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <p th:text="'List owners...'"> Hello!</p>
    <table>
        <thread>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="owner:${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">B</td>
            <td th:text="${owner.lastName}">V</td>
        </tr>
        </tbody>
    </table>
</body>
</html>